build/
programs/*.out
tags:
cachesim
a.out
traces/large.trace
util/__pycache__
.DS_Store

traces/arraylock*.trace
traces/arraylock_aligned*.trace
traces/ts_lock*.trace
traces/tts_lock*.trace
traces/ticketlock*.trace

docs/final.aux
docs/final.out
docs/final.log
docs/presentation.mp4

references/
